body {
    background-color: #202020;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #484848;
}

::-moz-selection {
    color: white;
    background: #009688;
}
  
::selection {
    color: white;
    background: #009688;
}

.toolbar {
    background-color: #303030;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.title-text {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.title-text:hover {
    color: #C0C0C0;
}

.nevbar-button {
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    color: #00BFA5;
}

.nevbar-button:hover {
    color: #009688;
}

.content-parent {
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.outer-card {
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
}

.outer-container {
    background-color: #303030;
}

.inner-container {
    background-color: #303030;
    margin-top: 22px;
    margin-bottom: 22px;
}

.header-text {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    color: #00BFA5;
}

.subheader-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.content-text {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #C0C0C0;
}

.content-text-link {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #00BFA5;
}

.content-text-link:hover {
    color: #009688;
}

.content-status-text {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #C0C0C0;
}

.content-icon {
    margin-right: 8px;
}

.button {
    background-color: #303030;
    margin-top: 22px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    color: #00BFA5;
}

@media only screen and (max-width: 900px) {
    .w3-third {
        width: 100%;
    }

    .toolbar {
        background-color: #009688;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .nevbar-button {
        display: none;
    }

    .content-parent {
        margin-left: 0px;
        margin-right: 0px;
    }
}