body {
    background-color: #202020;
}

a {
    text-decoration: none;
}

::-moz-selection {
    color: white;
    background: #009688;
}
  
::selection {
    color: white;
    background: #009688;
}

.toolbar {
    background-color: #303030;
    padding-top: 16px;
    padding-bottom: 16px;
}

.title-text {
    margin-left: 16px;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.title-text:hover {
    color: #C0C0C0;
}

.nevbar-button {
    margin-left: 32px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    color: #00BFA5;
}

.nevbar-button:hover {
    color: #009688;
}

.content-parent {
    margin-bottom: 16px;
}

.outer-card {
    margin-top: 16px;
}

.outer-container {
    background-color: #303030;
}

.inner-container {
    background-color: #303030;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

.header-text {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    color: #00BFA5;
}

.subheader-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.content-text {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: #C0C0C0;
}

.content-duration-text {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: #C0C0C0;
}

.content-icon {
    margin-right: 8px
}

.content-text-link {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: #00BFA5;
}

.link:hover {
    color: #009688;
}

.button {
    background-color: #303030;
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    color: #00BFA5;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #484848;
}

@media only screen and (max-width: 600px) {
    .toolbar {
        background-color: #009688;
        padding: 8px;
    }

    .content-parent {
        margin-bottom: 16px;
        padding-left: 0px;
        padding-right: 0px;
    }
}